.calculator {
  max-width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #c7bebe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.display {
  background-color: #333;
  color: white;
  padding: 15px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 27px; 
  overflow-x: auto; 
  white-space: nowrap; 
}

.display::-webkit-scrollbar {
  display: none; 
}

.display.long-text {
  font-size: 18px; 
}


.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  padding: 15px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #23962b;
}

.app {
  text-align: center;
}

.welcome-message {
  margin-top: 50px;
  margin-bottom: 10px;
}

.welcome-message h1 {
  font-size: 24px;
  color: #24b629;
  font-weight: bold;
}
